
.item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.dashboard-card {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.dashboard-item {
  flex: 1 1 100%;
  max-width: 300px;
  margin: 8px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-item mat-card-header {
  background-color: #3b4465;
  color: white;
}

.dashboard-item mat-card-title {
  font-size: 1.25rem;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

mat-icon {
  margin-right: 8px;
}


button{
  background-color: #fff9e5 ;
  color: #000;
}

.item:last-child {
  border-bottom: none;
}

.item-content.d-flex {
  display: flex;
  flex-grow: 1;
  justify-content: space-between; /* Distribute items evenly */
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 15px;
}

mat-grid-tile {
  background: #fff5e7;
}

.circle.ontime {
  background-color: #4CAF50;
}

.route-container {
  display: flex;
  align-items: center;
  position: relative;
}

.route-line {
  width: 3px;
  height: 100%;
  background-color: #4CAF50;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-114px, 29px);
  z-index: 0;
}

.mat-mdc-card{
  width: 100%;
}

.info {
  flex: 1;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.time {
  font-size: 14px;
}

.card{
  --bs-card-border-width: unset;
}
@media (max-width: 768px) {
  .signup-form , .post{
      width: 100%;
    }
    .dashboard-item{
      width: 100%;
    }
}