<div class="row m-3">
  <div class="col-lg-6">
    <button *ngIf="!loading" routerLink="/search-bus" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass-location"></i> Serch Bus </button>
  </div>
  <div class="col-lg-6">
    <button *ngIf="role === 'admin' && !loading " (click)="addbus()" class="btn btn-primary"><i class="fa-solid fa-bus-simple"></i> Add bus</button>
  </div>
</div>

<div class="row m-3">
  <div class="col-lg-6">
    <button *ngIf="role === 'admin' && !loading " routerLink="/users"  class="btn btn-primary"><i class="fa-solid fa-users"></i> Users</button>
  </div>
  <div class="col-lg-6">
    <button *ngIf="role === 'admin' && !loading " routerLink="/routes" class="btn btn-primary"><i class="fa-solid fa-route"></i> Route</button>
  </div>
</div>

<div class="row m-3">
  <div class="col-lg-6">
    <button *ngIf="role === 'admin' && !loading " routerLink="/users"  class="btn btn-primary"><i class="fa-solid fa-ticket"></i> Bookings</button>
  </div>

</div>