
    <p-toast position="center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
                <div class="text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p class="text-danger">{{message.detail}}</p>
                </div>
                <div class="d-flex justify-content-between grid p-fluid">
                    <div class="col-6">
                        <button style="border-radius: 5px; width: inherit;" type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button style="border-radius: 5px; width: inherit;" type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
<div class="container d-flex flex-wrap gap-3 w-50">
    <mat-card class="user" *ngFor="let user of users">
        <mat-card-content>
            <div class="row">
                <hr class="text-dark">
                <div class="d-flex justify-content-between align-items-center my-3">
                    <i class="fa-solid fa-user fa-3x"></i>
                    <div class="d-lg-flex justify-content-between align-items-center w-auto">
                        <h2 class="mx-2">{{user.name}}</h2>
                        {{user.email}}
                    </div>
                    <button class="btn text-danger" (click)="ondelete(user)"><i class="fa-solid fa-user-minus"></i></button>
                </div>
                <hr class="text-dark">
            </div>
        </mat-card-content>
    </mat-card>
</div>