

.container {
  padding: 0;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

mat-card-title {
  margin-bottom: 20px;
}

.signup-form{
  width: 50%;
}
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    background-color : transparent !important;
  }
  
  .form-select{
    background-color:  rgba(255, 255, 255, 0.07) !important;
  }
  @media (max-width: 768px) {
    .signup-form , .post{
        width: 100%;
      }
  
  }