<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading && showform" class="container d-flex justify-content-center align-items-center full-height">
  <mat-card class="signup-form" style="width: 100%; max-width: 600px; padding: 16px;">


    <mat-toolbar color="primary" class="mat-elevation-z4 my-4">
      <span>{{ !isedit ? 'Search Bus' : 'Edit Search' }}</span>
      <button class="ms-auto" mat-icon-button routerLink="/" (click)="this.searchBusForm.reset(); isedit=false">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <form [formGroup]="searchBusForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="w-100 m-1">
        <mat-label>Bus Departure</mat-label>
        <input matInput formControlName="departure" type="text" placeholder="Enter departure" required [ngClass]="{'mat-form-field__input--error': searchBusForm.get('departure')?.invalid && searchBusForm.get('departure')?.touched}">
        <mat-error *ngIf="searchBusForm.get('departure')?.invalid && searchBusForm.get('departure')?.touched">
          Please provide a password.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 m-1">
        <mat-label>Bus Destination</mat-label>
        <input matInput formControlName="destination" type="text" placeholder="Enter departure" required>
        <mat-error *ngIf="searchBusForm.get('destination')?.invalid && searchBusForm.get('destination')?.touched">
          Destination is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Booking Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="bookingDate" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="searchBusForm.get('bookingDate')?.hasError('required')">
          Booking date is required.
        </mat-error>
        <mat-error *ngIf="searchBusForm.get('bookingDate')?.hasError('datePast')">
          The booking date cannot be in the past.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Number of Seats</mat-label>
        <mat-select formControlName="seat">
          <mat-option [value]="1">{{ "One" }}</mat-option>
          <mat-option [value]="2">{{ "Two" }}</mat-option>
          <mat-option [value]="3">{{ "Three" }}</mat-option>
          <mat-option [value]="4">{{ "Four" }}</mat-option>
          <mat-option [value]="5">{{ "Five" }}</mat-option>
          <mat-option [value]="6">{{ "Six" }}</mat-option>
        </mat-select>
        <mat-error *ngIf="searchBusForm.get('seat')?.invalid && searchBusForm.get('seat')?.touched">
          Bus Seat is required.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="isSingleLady" (change)="singleLady($event)">
        Single Lady
      </mat-checkbox>

      <div class="form-actions d-flex justify-content-end">
        <button mat-raised-button color="primary" type="submit">Search Bus</button>
      </div>
    </form>
  </mat-card>
</div>

<div *ngIf="!loading" class="container mt-5">
  <div class="d-flex flex-wrap gap-3">
    <div class="card post p-3" *ngFor="let b of buses">
      <div class="d-flex flex-column">
        <i class="fa-solid fa-bus-simple fa-2x mb-2"></i>
        <div class="title fs-2 fw-1">{{ b.busNumber }}</div>
        <div class="title fs-4 fw-5">Departure : {{ b.departure }}</div>
        <div class="title fs-4 fw-5">Destination : {{ b.destination }}</div>
        <div class="description text-truncate">Departure Time : {{ b.departureTime }}</div>
        <div class="d-flex mt-2">

          <button *ngIf="role == 'admin' && searching" (click)="onbusUpdate(b)" class="btn me-2">
            <i class="fa-solid fa-pen-to-square fa-2x text-primary"></i>
          </button>

          <button *ngIf="role == 'admin' && searching" class="btn me-2" (click)="ondelete(b)">
            <i class="fa-regular fa-trash-can fa-2x text-danger"></i>
          </button>

          <button *ngIf="searching" (click)="bookBus(b)" class="btn">
            <img style="width: 60px;" class="img-fluid" src="../../../assets/Ecostyle_leather_seats.png" alt="Book">
          </button>
          
          <button type="button" class="btn ms-2" (click)="selectBus(b)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-route fa-2x"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for displaying bus route -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bus Route</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <mat-card *ngIf="selectedBus">
          <mat-card-header>
            <mat-card-title>Bus Route for {{ selectedBus.busNumber }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item class="d-flex align-items-center">
                <div class="me-2">
                  <mat-icon>directions_bus</mat-icon>
                </div>
                <div class="me-2 flex-grow-1">
                  <div class="title">{{ selectedBus.departure }}</div>
                </div>
                <div>
                  <div class="time">{{ selectedBus.departureTime }}</div>
                </div>
              </mat-list-item>
              <mat-list-item *ngFor="let station of selectedBus.route" class="d-flex align-items-center">
                <div class="me-2">
                  <mat-icon>location_on</mat-icon>
                </div>

                <div>
                  <!-- <div class="time">{{ station.arrivalTime }} - {{ station.distance | number }} km</div> -->
                </div>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>