

.post {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.station-card{
  width: 300px;
}

.info {
  flex: 1;
}

.title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.time {
  font-size: 14px;
}

.signup-form {
width: 100%;
max-width: 600px;
}


mat-toolbar {
display: flex;
justify-content: space-between;
align-items: center;
}

mat-form-field {
width: 100%;
margin-bottom: 16px;
}



.secondary-button {
background-color: rgba(0, 123, 255, 0.1); 
border-color: #0056b3; 
color: #0056b3; 
}

.secondary-button:focus {
box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}



.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
background-color : transparent !important;
}

.card{
--bs-card-border-width: unset;
}
@media (max-width: 768px) {
.signup-form{
    width: 100%;
  }
}


.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
}


.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
background-color : transparent !important;
}

.card{
--bs-card-border-width: unset;
}
@media (max-width: 768px) {
.signup-form{
    width: 100%;
  }
}
.mat-mdc-card{
  background-color: #fff9e5 ;
}

.user {
  width: 19%;
  padding: 2%;
}

@media  (max-width: 1400px) {
  .user {
      width: 23%;
      padding: 1%;
  }
}
@media  (max-width: 768px) {
  .user {
      width: 30%; 
  }
}
@media  (max-width: 576px) {
  .user {
      width: 45%;
  }
}
@media  (max-width: 376px) {
  .user {
      width: 90%;
  }
}
