<app-loading *ngIf="loading"></app-loading>
<div class="login-form">
    <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <form [formGroup]="loginform" (ngSubmit)="onsubmit()">
            
            <!-- Email Field -->
            <mat-form-field appearance="fill" class="w-100 m-1">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Email" required>
              <mat-error *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched">
                Please provide a valid email address.
              </mat-error>
            </mat-form-field>
      
            <!-- Password Field -->
            <mat-form-field appearance="fill" class="w-100 m-1">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" placeholder="Password" required>
              <mat-error *ngIf="loginform.get('password')?.invalid && loginform.get('password')?.touched">
                Please provide a password.
              </mat-error>
            </mat-form-field>
      
            <!-- Actions -->
            <div class="login-actions">
              <a mat-button routerLink="/auth/signup">Create an account</a>
            </div>
            <div class="login-actions">
              <button mat-raised-button color="primary" type="submit" [disabled]="loginform.invalid">Log in</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      
  </div>
  