<p-toast></p-toast>
<app-loading *ngIf="loading"></app-loading>

<div class="row justify-content-center m-5 ">
  <button *ngIf="role === 'admin' && !loading && !isShowForm" class="w-auto" (click)="isShowForm = true" mat-raised-button color="primary">
    <mat-icon>directions_bus</mat-icon> Add Route
  </button>
</div>


<div *ngIf="!loading && isShowForm" class="container full-height d-flex justify-content-center align-items-center">
  <mat-card class="signup-form">
    <form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
      <mat-toolbar color="primary" class="mat-elevation-z4 my-4">
        <span *ngIf="!isedit">Add Route</span>
        <span *ngIf="isedit">Edit Route</span>
        <button mat-icon-button routerLink="/" (click)="this.routeForm.reset(); isedit=false">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>

      <mat-form-field appearance="fill">
        <mat-label>Route Name</mat-label>
        <input matInput formControlName="routeName" (change)="setDepartureDestination($event)" placeholder="e.g. Ahmedabad - Surat" required>
        <mat-error *ngIf="routeForm.get('routeName')?.hasError('required')">
          Route Name is required.
        </mat-error>
        <mat-error *ngIf="routeForm.get('routeName')?.hasError('pattern')">
          Route Name should be in proper format like Ahmedabad - Surat.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Total Distance</mat-label>
        <input matInput formControlName="distance" type="number" placeholder="Distance in km" required>
        <mat-error *ngIf="routeForm.get('distance')?.invalid && routeForm.get('distance')?.touched">
          Distance is required and should be a number.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Departure</mat-label>
        <input matInput formControlName="departure" placeholder="Departure location" required>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Destination</mat-label>
        <input matInput formControlName="destination" placeholder="Destination location" required>
      </mat-form-field>
      <div formArrayName="stations">
        <div *ngFor="let fieldGroup of stationArray.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Route Station</mat-label>
            <mat-select formControlName="station" (selectionChange)="selectStation($event, i)">
              <mat-option *ngFor="let station of stations" [value]="station.station">
                {{ station.station }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="fieldGroup.get('station')?.invalid && fieldGroup.get('station')?.touched">
              Station is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin: 0;">
            <mat-label>Distance from Start Station</mat-label>
            <input matInput formControlName="distanceFromStart" type="number" placeholder="Distance in km" required min="0">
            <mat-error *ngIf="fieldGroup.get('distanceFromStart')?.invalid && fieldGroup.get('distanceFromStart')?.touched">
              Distance from start is required.
            </mat-error>
          </mat-form-field>
          <div class="text-danger" *ngIf="stationArray.errors?.['invalidDistance']">
            The distance from start exceeds the total route distance.
          </div>
          <div class="text-warning " *ngIf="stationArray.errors?.['invalidSequence'] && i == stationArray.length -1">
            Stations must be in increasing order of distance.
          </div>
          

          <button mat-raised-button class="my-2" color="warn" (click)="deleteStation(i)">Delete</button>
        </div>
      </div>

      <button mat-stroked-button class="secondary-button" type="button" (click)="addStation()">Add Stop</button>
     
      <div class="form-actions d-flex justify-content-end">
        <button mat-raised-button color="primary" type="submit">
          <span *ngIf="!isedit">Add Route</span>
          <span *ngIf="isedit">Update Route</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>

<div *ngIf="!loading  && !isShowForm" class="d-flex flex-wrap gap-3 mt-5 container">
  <mat-card *ngFor="let r of routes" class="post">
    <mat-icon>directions_bus</mat-icon>
    <mat-card-title>{{ r.routeName }}</mat-card-title>
    <mat-card-actions>
      <button *ngIf="role === 'admin'" mat-icon-button color="warn" (click)="ondelete(r)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="selectRoute(r)" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-route "></i>
      </button>
    </mat-card-actions>
  </mat-card>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bus Route</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="route-container">
          <mat-card *ngIf="selectRoute">
            <mat-card-content>
              <div class="route-details">

                <mat-list>
                  <mat-list-item class="item d-flex justify-content-center align-items-center">
                    <div class="item-content d-flex">

                      <div class="title" [style]="'width: 35px'">
                        <div matLine>
                          <span class="me-4"></span>
                        </div>
                      </div>

                      <div class="info">
                        <div class="title">
                          <div matLine>
                            <span>Station</span>
                          </div>
                        </div>
                      </div>
                      <div class="title">
                        <div matLine>
                          <span>Distance</span>
                        </div>
                      </div>
                    </div>

                  </mat-list-item>

                </mat-list>

                <mat-list>
                  <mat-list-item class="item d-flex justify-content-center align-items-center" *ngFor="let station of clonedRoute.stations ; let i = index">
                    <div class="item-content d-flex">
                    
                      <div class="route-container">
                        <div class="circle-container">
                         
                          <div class="circle ontime">
                            <mat-icon matListItemIcon></mat-icon>
                          </div>
                          
                        </div>
                      
                      </div>

                      <div class="info">
                        <div class="title">
                          <div matLine>
                            <span>{{ station.stationName }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="title">
                        <div matLine>
                          <span>{{ station.distanceFromStart }}</span>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>

                </mat-list>

              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>