<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- User Name -->
    <div class="navbar-text me-auto fs-4">
      {{ user.name }}
    </div>

    <!-- Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse z-3" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">
            <i class="fa-solid fa-home"></i> Home
          </a>
        </li>

        <!-- Conditionally render links for admin role -->
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link" routerLink="/search-bus" routerLinkActive="active">
            <i class="fa-solid fa-magnifying-glass-location"></i> Search Bus
          </a>
        </li>
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            <i class="fa-solid fa-users"></i> Users
          </a>
        </li>
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link" routerLink="/routes" routerLinkActive="active">
            <i class="fa-solid fa-route"></i> Routes
          </a>
        </li>
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link" routerLink="/bookings" routerLinkActive="active">
            <i class="fa-solid fa-ticket"></i> Bookings
          </a>
        </li>
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link" routerLink="/stations" routerLinkActive="active">
            <i class="fa-solid fa-location-dot"></i> Stations
          </a>
        </li>
      </ul>

      <!-- Logout Button -->
      <button class="btn btn-outline-danger ms-2" (click)="logout()">
        <i class="fa-solid fa-sign-out-alt"></i> Logout
      </button>
    </div>
  </div>
</nav>